.com1 {float:left;margin-right: 10px;}
.com3 {float:left;margin-right: 10px;}
.com2 {margin-left:10px;}
.com4 {margin-left:10px;}
.select_area {margin-right: 10px;float: left;}
.button_area {margin-right: 10px;float: left;}
.button1 {margin-bottom: 5px;}
#button_10 {margin-left:10px;}